xml/xsd/autodiscover/AutodiscoverRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/exchange/autodiscover/outlook/requestschema/2006"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Autodiscover">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Request">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EMailAddress" type="xs:string" minOccurs="0" />
                            <xs:element name="LegacyDN" type="xs:string" minOccurs="0"/>
                            <xs:element name="AcceptableResponseSchema" type="xs:string" minOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
