xml/xsd/autodiscover/AutodiscoverResponseError.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/exchange/autodiscover/responseschema/2006"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Autodiscover">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Response">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Error">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ErrorCode" type="xs:unsignedShort" minOccurs="1" />
                                        <xs:element name="Message" type="xs:string" minOccurs="1" />
                                        <xs:element name="DebugData" minOccurs="1" />
                                    </xs:sequence>
                                    <xs:attribute name="Time" type="xs:time" use="required" />
                                    <xs:attribute name="Id" type="xs:unsignedInt" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
